---
const currentYear = new Date().getFullYear();
---
<footer class="bg-zinc-900/80 border-t border-zinc-700">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    
    <a href="/" class="text-2xl font-bold text-white hover:text-gray-200">
      Visionarios.<span class="text-green-500">Dev</span>
    </a>
    <div class="text-gray-400">
      &copy; {new Date().getFullYear()} Visionarios.dev. Todos los derechos reservados.
    
  </div>
</footer>