---
import ServiceCard from './ServiceCard.astro';
---


<main class="container mx-auto px-6 py-24 text-center">
    <h1 class="mt-4 text-5xl font-extrabold text-white md:text-7xl">
      Nuestros
      <span class="bg-gradient-to-r from-green-400 to-green-600 bg-clip-text text-transparent">
        Servicios.
      </span>
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12 ">
        <ServiceCard 
        title="Desarrollo Web" 
        description="Creamos sitios web personalizados y optimizados para tu negocio." 
        />
        <ServiceCard 
        title="Mantenimiento Técnico" 
        description="Ofrecemos soporte y mantenimiento continuo para tus sistemas." 
        />
        <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
        <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
        <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
        <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
        <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
        <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
    <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
        <ServiceCard 
        title="Consultoría IT" 
        description="Asesoramos sobre las mejores soluciones tecnológicas para tu empresa." 
        />
    </div>
    </main>